.tryIt {
  
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  margin-bottom: .8rem;
}

.itemLabel {
  margin-right: 1rem;
  font-weight: bold;
}

.jsonContent {
  max-height: 1000px;
  overflow: auto;
}

.tryIt code {
  max-height: 1000px !important;
  overflow: auto !important;
}

.notSupported {
  display: none;
}

.tryItCbox {
  display: block;
}

@media screen and (max-width: 1280px) {
  .items {
    grid-template-columns: repeat(2, 240px);
  }
}

@media screen and (max-width: 480px) {
  .tryIt {
    display: none;
  }
  
  .notSupported {
    display: block;
  }
}